header#banner.hero-unit
  .container
    h1 Stock Streamer

.container
  .row
    .twelve.columns
      h3 Stocks
    .twelve.columns
      #chart

  .row
    .twelve.columns
      h5 Include some symbols
      ul.symbols
        li.two.columns.symbol(ng-repeat='stock in stocks')
          span.symbol-span {{stock.name}}
          button.close(type='button', ng-click='deleteStock(stock.name)') ×

  form.thing-form
    label Syncs in realtime across clients
    p.input-group.row
      input#symbol.ten.columns.form-control(type='text', placeholder='Add a new stock symbol here.', ng-model='newStock')
      span.two.columns.input-group-btn
        button.btn.btn-primary(type='submit', ng-click='addStock()') Add New
    p.error(ng-show="error") {{error}}

footer.footer
  .container
    p
      | Build by J. Martínez
      = ' | '
      a(href='https://twitter.com/_jmartinez') @_jmartinez
      = ' | '
      a(href='https://github.com/jbmartinez') GitHub